.revenue {
     background: white;
     display: inline-block;
     padding: 25px;
     border-radius: 20px;
     box-shadow: 10px 10px 10px 10px #d8c9e8; 
     align: center;
     margin-top:1%;
     margin-left:30%;
     }
     
.dsn-right {
	background: white;
     display: inline-block;
     width:300px;
     height:400px;
     padding: 25px;
     marigin-left:45%;
     border-radius: 20px;
     box-shadow: 10px 10px 10px 10px #d8c9e8; 
     align: center;
}

.dsn-left {
    background: white;
     display: inline-block;
     width:300px;
     height:400px;
     marigin-left:45%;
     padding: 25px;
     border-radius: 20px;
     box-shadow: 10px 10px 10px 10px #d8c9e8; 
     align: center;
}

.scroll {
    height:300px;
    overflow-y:auto;'
}
     
.actiondropdown {
    position: relative;
    display: inline-block;
    text-align:left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    align:left;
}

.dropdown-content button {
    color: black;
    padding-left: 12px;
    text-decoration: none;
    background:none;
    outline:none;
    border: none;
    display: inline;
    text-align:left;
}

.dropdown-content-btn:hover {
	transform:scale(1.5);
}

.dropdown-content a:hover  img{
    transform:scale(1.5);
}

.dropdown {
    margin-top: 12px;
}

.dropdown-content-form {
    width:65%;
    float:left;
    margin-top: 12px;
    
}

.img {
    width:25px;
    hieght:25px;
    
}

.btn-space {
    margin-right: 1%;
    margin-bottom: 1%;
    
}

.table form {
    display: inline;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #fff;
}

.dropdown li:hover {background-color: gray;}

.actiondropdown:hover .dropdown-content {display: block;}

.actiondropdown:hover .dropbtn {background-color: #3e8e41;}
