.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.navbar img {
	width:100px;
	
}


.navbar-default .navbar-text {
    color: #319298;
    margin-left: 35%;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #319298;
}

.sidenav {
    background-color: #3a0899f2;
    background-image: linear-gradient(#3ecac5, #0a1625);
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidenav img {
	width:50px;
	padding-top: 53px;
}

.sidenav a:hover {
    transform:scale(1.2);
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}